header{
    width: 800px;
    height: 200px;
    background: blue;
}

nav{
    width: 100px;
    height: 400px;
    background: red;
}

div{
    display: flex;
}

section{
    width: 700px;
    height: 400px;
    background: gold;
}

footer{
    width: 800px;
    height: 200px;
    background: greenyellow;
}